server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/devsu_test
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        default_schema: sch_people
        format_sql: true
    show-sql: true

logging:
  level:
    org.hibernate.SQL: debug